<table class="table">
  <thead>
    <tr class="centerhead">
      <th class="leftcol">Time [days]</th>
      <th class="leftcol" colspan="1">RNA templates</th>
      <th>F1</th>
      <th>F2</th>
      <th>F3</th>
      <th>F4</th>
      <th>F5</th>
      <th>F6</th>
    </tr>
  </thead>
  <tbody>
    {% for row in sampleTable %}
    <tr class="numbers">
      <td class="leftcol">{{row.time}}</td>
      <td class="leftcol">{{row.RNA}}</td>
      {% for fr in ['F1', 'F2', 'F3', 'F4', 'F5', 'F6'] %}
      {% set tmp = row.get(fr) %}
      {% if tmp == 'low' %}
      <td style="color:orange">{{tmp}}</td>
      {% elif tmp == 'miss' %}
      <td style="color:red">{{tmp}}</td>
      {% else %}
      <td>{{tmp}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if pname=="p10" %}
<div style="color:red">UPDATE 2016-02-28: This patient received AZT/ddI therapy at the time the last two samples (days 2229 and 2256) were taken. The majority of sequences from these two samples contain the AZT resistance mutations 41L, 67N, 70R, and 215Y.</div>
{% endif %}
