This web page and the data provided are part of the publication:<p></p>
<p>
<b>Population genomics of intrapatient HIV-1 evolution</b><br>
<a href="http://elifesciences.org/content/4/e11282">Fabio Zanini, Johanna Brodin, Lina Thebo, Christa Lanz, Jan Albert and Richard Neher. eLIFE, <i>e11282</i>.</a></p>
<p></p>
If you use the data provided on this website in your publications, please refer to the above article as the source of the data. We would be grateful if you let us know when your work using this data gets published.

